<body>
<h1>サウンド仕様書の登録</h1>
 
<table class="edit-profile-table">
    <tr>
        <td>
            <img src="{{ MEDIA_URL }}{{ avator }}" alt="" class="avator">
        </td>
    </tr>
    <tr>
        <td>
            <div id="dragandrophandler">サウンド仕様書を登録</div>
            <form action="{% url 'soudn:csv_import' %}" method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="xlsm">
                <button type="submit">テーブル生成</button>
              </form>
        </td>
    </tr>
</table>
 
</body>