<body>
    <h1>結果</h1>
     
    <table class="edit-profile-table">
        <tr>
            <td>
                <img src="{{ MEDIA_URL }}{{ avator }}" alt="" class="avator">
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ table }}" download="TBL_CmdSndSet.c">DLボタン</a>
            </td>
        </tr>
    </table>
     
    </body>